.example-info {
    display:none;
}

body {
    font-family:'Segoe UI';
    font-size:120%;
    background-color:white;
}
pre code {
}
.odata-syntax {
    font-size:80%;
}
.odata-syntax::before {
    content: 'OData request';
    font-weight:bold;
}

#results {
    height:300px;
    overflow:auto;
}

.pageurl {
    font-size:70%;
}

h1 {
    margin: 5px;
}

#results pre {
    font-size: 80%;
}